<section class="container">
    <h1>Angular</h1>

    <signup></signup>

    <hr>

    <app-contact-form></app-contact-form>

    <hr>

    <directives></directives>
    
    <hr>    

    <app-panel >
        <div class="heading">Head</div>
        <div class="body">body</div>
    </app-panel>

    <hr>

    <app-favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChange($event)"></app-favorite>

    <hr>

    <app-pipes></app-pipes>
    
    <hr>

    <app-binding></app-binding>

    <hr>

    <courses></courses>

</section>